<div class="surface-card p-4 main-container">
    <p-toast position="bottom-left" sticky="true"></p-toast>
    <h2 class="text-left mb-3">{{grupoComunhao?.nome || "Grupo de comunhão"}}</h2>
    <div class="w-full flex justify-content-center pb-5">
        <button pButton pRipple icon="pi pi-check" class="p-button-rounded" label="Quero participar" (click)="fazerInscricaoNoGrupo()"></button>
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    </div>
   <iframe width="100%" height="350" frameborder="0" style="border:0; padding-bottom: 10px;" [src]="enderecoMap" allowfullscreen></iframe>
   <div class="border-2 border-dashed overflow-auto surface-border border-round p-3">
        <li class="flex align-items-center pb-3 flex-wrap">
            <div class="text-700 w-6 font-medium">Nome</div>
            <div class="w-full flex-order-1">{{grupoComunhao?.nome}}</div>     
        </li>
        <li class="flex align-items-center pb-3 flex-wrap">
            <div class="text-700 w-6 font-medium">Dia da semana</div>
            <div class="w-full flex-order-1">{{grupoComunhao?.diaSemana}}</div>
        </li>
        <li class="flex align-items-center pb-3 flex-wrap">
            <div class="text-700 w-6 font-medium">Horário</div>
            <div class="w-full flex-order-1">{{grupoComunhao?.horario}}</div>
        </li>
        <li class="flex align-items-center pb-3 flex-wrap">
            <div class="text-700 w-6 font-medium">Lider</div>
            <div class="w-full flex-order-1">{{grupoComunhao?.lider?.nomeCompleto}}</div>
        </li>
        <li class="flex align-items-center pb-3 flex-wrap">
            <div class="text-700 w-6 md:w-2 pb-2 font-medium">Endereço</div>
            <div class="w-full flex-order-1">
                {{grupoComunhao?.endereco?.logradouro}},
                {{grupoComunhao?.endereco?.numero}},
                {{grupoComunhao?.endereco?.bairro}},
                {{grupoComunhao?.endereco?.cidade}},
                {{grupoComunhao?.endereco?.estado}}
                {{grupoComunhao?.endereco?.complemento}}
            </div>
        </li>
        <li class="flex align-items-center flex-wrap">
            <div class="text-700 w-6 md:w-2 pb-2 font-medium">Participantes</div>
            <div *ngIf="participantes.length == 0 || participantes == null" class="p-1 w-full flex-order-1">Não há participantes inscritos</div>
            <div *ngFor="let participante of participantes" class="p-1 w-full flex-order-1">{{participante?.nomeCompleto}}</div>
        </li>
    </div>
</div>

