<div class="surface-card p-4 main-container">
    <p-toast position="bottom-left" sticky="true"></p-toast>
    <h2 class="text-left mb-3">Grupos de comunhão</h2>
    <div class="card">
        <p-table #dt [value]="grupos" [paginator]="true" [rows]="5" [totalRecords]="totalRecords" layout="grid">
          <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between">
                    <h3 class="inline text-center mb-3">Lista de grupos</h3>
                </div>
            </ng-template>
            <ng-template let-grupo pTemplate="body">
                <tr>
                    <td>
                        <li class="flex align-items-center pb-3 flex-wrap">
                            <div class="text-600 w-full">Grupo</div>
                            <div class="w-full flex-order-1">{{grupo.nome}}</div>  
                        </li>
                    </td>
                    <td>
                        <li class="flex align-items-center pb-3 flex-wrap">
                            <div class="text-600 w-full">Dia e horário</div>
                            <div class="w-full flex-order-1">
                                {{grupo.diaSemana}},
                                {{grupo.horario}}h</div>
                        </li>
                    </td>
                    <td>
                        <li class="flex align-items-center pb-3 flex-wrap">
                            <div class="text-600 w-full">Líder</div>
                            <div class=" w-full flex-order-1">{{grupo.lider?.nomeCompleto}}</div>  
                        </li>
                    </td>
                    <td>
                        <p-tag icon="pi pi-exclamation-triangle" *ngIf="verificaSeGrupoLotado(grupo)" severity="warning" value="Lotado" [rounded]="true"></p-tag>
                        <p-tag icon="pi pi-check" *ngIf="!verificaSeGrupoLotado(grupo)" severity="success" value="Disponível" [rounded]="true"></p-tag>
                    </td>
                    <td>
                        <button pButton pRipple pTooltip="Ver detalhes" tooltipPosition="bottom" icon="pi pi-chevron-right" class="p-button-text p-button-lg" [routerLink]="['/grupos-comunhao/inscricao/', grupo.id]"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
