<div class="surface-card p-4 main-container">
    <p-toast position="bottom-left" sticky="true"></p-toast>
    <h2 class="text-left mb-3">Famílias - administrativo</h2>
    <div class="card">
        <p-table #dt [value]="familias" [columns]="cols" [paginator]="true" [rows]="5" [rowHover]="true" [rowsPerPageOptions]="[5,10,15]" [totalRecords]="totalRecords" layout="grid">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row">
                    <h3 class="inline text-center mb-3">Lista de famílias</h3>
                    <button pButton pRipple type="button" icon="pi pi-plus" label="Incluir família" class="p-button-outlined p-button-rounded m-2" [routerLink]="['/adm/familias/cadastro']"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" label="Exportar PDF" (click)="exportPdf()" class="p-button-info p-button-rounded p-button-outlined m-2"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template let-familia pTemplate="body">
                <tr>
                    <td>
                        <span class="p-column-title">Principal</span>
                        {{familia?.principal?.nomeCompleto}}
                    </td>
                    <td>
                        <span class="w-full p-column-title">Familiares</span>
                        <div class="pl-1" *ngFor="let familiar of familia.familiares">{{familiar?.firstName}}</div>
                        <div class="pl-1" *ngFor="let familiarSemCadastro of familia.familiaresSemCadastro">{{familiarSemCadastro?.nome}}</div>
                    </td>
                    <td>
                        <span class="p-column-title">Endereço</span>
                        {{familia?.endereco?.logradouro}} -
                        {{familia?.endereco?.bairro}}
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-search" pTooltip="Visualizar" tooltipPosition="bottom" class="p-button-rounded p-button-outlined" [routerLink]="['/adm/familias/detalhe/', familia.id]"></button>
                        <button pButton pRipple icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="bottom" class="p-button-rounded p-button-success p-button-outlined" [routerLink]="['/adm/familias/edicao/', familia.id]"></button>
                        <button pButton pRipple icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="bottom" (click)="excluirFamilia(familia.id)" class="p-button-rounded p-button-danger p-button-outlined"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    </div>
</div>
