<div class="p-fluid p-6 lg:col-6  lg:col-offset-3 main-container">
    <p-toast position="bottom-left" sticky="true"></p-toast>
    <div class="text-center mb-5">
        <h2>Entre em sua conta</h2>
    </div>
    <button type="button" pButton class="p-button-warning p-button-raised p-button-rounded p-button-outlined" label="Continuar com Google"></button>
    <p-divider align="center" >
        <p class="text-600 font-medium line-height-3">OU</p>
    </p-divider>
    <form [formGroup]="loginForm">
        <div class="field block">
            <span class="p-float-label p-input-icon-left">
                <i class="pi pi-user"></i>
                <input type="text" id="email" pInputText formControlName="email">
                <label for="email">E-mail</label> 
            </span>
        </div>
        <div class="field block">
            <span class="p-float-label p-input-icon-left">
                <i class="pi pi-lock"></i>
                <input type="password" id="senha" pInputText formControlName="senha">
                <label for="senha">Senha</label>
            </span>  
        </div>
        <button type="button" pButton class="p-button-raised p-button-rounded" label="Entrar" 
        (click)="fazerLogin()"
        [disabled]="!loginForm.valid">
        </button>
    </form>
    <div class="text-center cursor-pointer text-blue-500">
        <p>Esqueceu a senha?</p>
    </div>
    <div class="text-center mb-5">
        <span class="text-600 font-medium line-height-3">Não tem uma conta?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" [routerLink]="['/cadastro']">Cadastre-se</a>
    </div>
</div>